@model IEnumerable<ImageRepo.Models.Image>

@{
    ViewData["Title"] = "Home Page";
}
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Add Some images to your repository!</p>

    <!-- Button trigger modal -->
    <div class="row">
        <div class="input-group col-md-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Add Image
            </button>
        </div>
        <!-- Search form -->
        <div class="input-group col-md-4 ml-auto" style="max-width:fit-content;">
            @using (Html.BeginForm("Index",
                   "Home",
                   FormMethod.Get))
            {


                <div class="input-group">
                    <div class="form-outline">
                        <input class="form-control py-2" type="search" name="search" id="search">
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            }
        </div>
    </div>
    <br />

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Index",
                  "Home",
                  FormMethod.Post,
                  new { enctype = "multipart/form-data" }))
                    {
                        <label for="file">Upload Image:</label>
                        <input type="file" name="Image" id="Image" /><br><br>
                        <input type="text" name="Description" id="Description" /><br><br>
                        <input type="submit" value="Upload Image" />
                        <br><br>
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table id="example" class="table">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@("~/"+item.Path)" asp-append-version="true" width="200" height="200" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <form asp-action="Delete">
                            <input type="hidden" value="@(item._id)" name="id" id="id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    
    
}